<h3>Enter a word/Sentence and check if its a Palindrome</h3>
<form  action='/result'>
  <div class="form-group">
    <label for="word">Enter a word or sentence!</label>
    <input type="word" name="word" type="text">
  </div>
  <button type="submit" class="btn bg-primary">Check Palindrome</button>
</form>
